<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<util:map id="sg_zone_netease_test">
		<entry key="name" value="网易测试区" />
		<entry key="domain" value="123.58.166.213:16001" />
		<entry key="beta" value="true" />
		<entry key="netease" value="true" />
	</util:map>
	
	<util:map id="sg_zone_netease_qa">
		<entry key="name" value="网易qa测试" />
		<entry key="domain" value="123.58.166.225:9102" />
		<entry key="beta" value="true" />
		<entry key="netease" value="true" />
	</util:map>

	<util:map id="sg_zone_netease_1">
		<entry key="name" value="网易内测服" />
		<entry key="domain" value="123.58.166.225:19102" />
		<entry key="beta" value="true" />
		<entry key="netease" value="true" />
	</util:map>
	
	<util:map id="sg_zone_netease_2">
		<entry key="name" value="安卓封测服" />
		<entry key="domain" value="106.2.47.217:9102" />
		<entry key="beta" value="true" />
		<entry key="netease" value="true" />
	</util:map>
	
	<util:map id="sg_zone_netease_3">
		<entry key="name" value="安卓审核服" />
		<entry key="domain" value="123.58.166.23:9102" />
		<entry key="beta" value="true" />
		<entry key="netease" value="true" />
	</util:map>
	
	<util:map id="sg_zone_58">
		<entry key="name" value="58测试区" />
		<entry key="domain" value="58.61.153.91:8111" />
		<entry key="beta" value="true" />
		<entry key="netease" value="false" />
	</util:map>


	<util:map id="sgZones">
		<entry key="1" value-ref="sg_zone_58" />
		<entry key="2" value-ref="sg_zone_netease_1" />
		<entry key="3" value-ref="sg_zone_netease_qa" />
		<entry key="4" value-ref="sg_zone_netease_test" />
		<entry key="5" value-ref="sg_zone_netease_2" />
		<entry key="6" value-ref="sg_zone_netease_3" />
	</util:map>
</beans>