<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="log.base" value="/data/log/small_game/small_game" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread][%level][%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.ppsea" level="DEBUG" />
	<logger name="org.apache.http" level="DEBUG" />
	<logger name="java.sql.Connection" level="INFO" />
	<logger name="java.sql.Statement" level="INFO" />
	<logger name="java.sql.ResultSet" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="INFO" />
	<logger name="com.ibatis" level="INFO" />
	<logger name="com.ibatis.common.util.StopWatch" level="INFO" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="INFO" />
	<logger name="com.ibatis.sqlmap.engine.builder.xml.SqlMapParser" level="INFO" />
	<logger name="com.ibatis.sqlmap.engine.cache.CacheModel" level="INFO" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientImpl" level="INFO" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.mchange" level="ERROR" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>